body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF8DC;
  color: #333;
}

header h1 {
  color: #87CEEB;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  background-color: #87CEEB;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
}

nav a:hover {
  background-color: #191970;
  border-radius: 5px;
}

main {
  margin: 20px;
  background-color: #FFFDD0;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 5px solid black;
}

td, th {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

footer {
  background-color: #87CEEB;
  color: white;
  text-align: center;
  padding: 20px 0;
}